@import "../../../assets/style/mixin.scss";

#main-div-city {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  .bg-sky-blue-btn {
    padding: 11px 16px;
    background-color: #56c5d0;
  }
  .bg-cover {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    padding: 4rem 0;

    background: linear-gradient(
        0deg,
        rgba(20, 34, 84, 0.55),
        rgba(20, 34, 84, 0.55)
      ),
      url("../../../../public/Rectangle 55.svg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    span {
      text-transform: capitalize;
    }

    /* Rectangle 1 */

    h1 {
      /* Get used car loan in Prahlad Nagar, Ahmedabad */

      font-weight: 700;
      font-size: 56px;
      line-height: 68px;
      text-align: center;

      color: #ffffff;
      @include mobile{
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  .city-details{
    margin: 1rem 0 1rem 0;
    > img {
      float: left;
      @include tablet {
        display: flex;
        float: unset;
        margin: 1rem auto;
      }
      object-fit: cover;
      width: 100%;
      max-width: 543px;
      margin: 10px 20px 15px 0px;
    }
    > h1 {
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      color: #142254;
      margin: 0 0 1rem 0;
    }
    > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #6d6d6d;
    }
  }
  .city-sub-details {
    float: left;
    // gap: 1rem;
    margin: 1rem 0 1rem 0;
    > h1 {
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      color: #142254;
      margin: 1rem 0;
    }
    > h3{
      font-weight: 600;
      font-size: 20px;
      line-height: 42px;
      color: #142254;
      margin-top: 20px;
    }
    > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #6d6d6d;
    }
  }
  > .link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem auto;
  }
  .bg-sky-blue {
    padding: 11px 17px;
  }
  // .section2 {
  //   display: flex;

  //   column-gap: 1rem;
  //   @include largescreen {
  //     flex-wrap: wrap;
  //     justify-content: center;
  //   }
  //   img {
  //    object-fit: cover;
  //     max-width: 555px;
  //     width: 100%;
  //     margin-bottom: .4rem;
  //     aspect-ratio: 16/9;
  //     border-radius: 16px;
  //   }
  //   > div {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     row-gap: 1rem;
  //     @include largescreen {
  //       flex-wrap: wrap;
  //     }

  //     > h2 {
  //       font-weight: 600;
  //       font-size: 28px;
  //       line-height: 42px;

  //       color: #142254;
  //     }
  //     > p {
  //       /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. */

  //       font-weight: 400;
  //       font-size: 16px;
  //       line-height: 22px;

  //       color: #6d6d6d;
  //     }
  //   }
  // }
  // .section3 {
  //   font-family: "Inter";
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 22px;

  //   color: #6d6d6d;
  // }
  // .section4 {
  //   > h3 {
  //     font-weight: 600;
  //     font-size: 28px;
  //     line-height: 42px;

  //     color: #142254;
  //   }
  //   > p {
  //     font-family: "Inter";
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 16px;
  //     line-height: 22px;

  //     color: #6d6d6d;
  //   }
  // }

  // .section5 {
  //   > h3 {
  //     font-weight: 600;
  //     font-size: 28px;
  //     line-height: 42px;

  //     color: #142254;
  //   }
  //   > p {
  //     font-family: "Inter";
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 16px;
  //     line-height: 22px;

  //     color: #6d6d6d;
  //   }
  // }
  // .section6 {
  //   margin: 1rem auto;
  // }
}
