@import "../.../../../assets/style/mixin.scss";
.main-div-aboutus {
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  .about-us {
    // padding-top: 1rem;
    // padding-bottom: 2rem;
    padding: 20px 150px 70px 150px;
    display: flex;
    gap: 2rem;
    @include desktoplargescreen {
      padding: 20px 10px 70px 10px;
    }
    @include till-1440 {
      flex-wrap: wrap;
    }
    @include laptopscreen {
      flex-wrap: wrap;
    }
    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      padding: 10px;
    }
    align-items: center;
    justify-content: center;
    .data {
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;

        color: #142254;
      }
      h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 42px;

        color: #142254;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;

        color: #6d6d6d;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      max-width: 555px;
      max-height: 411px;
      // aspect-ratio: 16/9;
      border-radius: 8px;
      @include till-desktop {
        // aspect-ratio: unset;
      }
    }
  }

  .Carousal-content-wrapper {
    padding: 45px 150px 0px 150px;
    background: linear-gradient(to bottom, #56c5d0 50%, #ffffff 50%);
    @include tablet {
      padding: 10px;
      background: linear-gradient(to bottom, #56c5d0 60%, #ffffff 50%);
    }
    @include mobile {
      padding: 10px;
      background: linear-gradient(to bottom, #56c5d0 58%, #ffffff 50%);
    }
    @include midmobile {
      background: linear-gradient(to bottom, #56c5d0 62%, #ffffff 50%);
    }
    .text-carousal {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      gap: 76.5px;
      @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 31px;
      }
      .text-carousal-para1 {
        // width: 35%;
        .numbers {
          font-weight: 900;
          font-size: 70.56px;
          line-height: 85.4px;
          color: #142254;
          @include mobile {
            text-align: center;
          }
        }
        .happy-customers {
          font-size: 32.54px;
          line-height: 39.39px;
          font-weight: 600;
          color: #142254;
        }
      }
      .text-carousal-para2 {
        .paragraph-text {
          font-weight: 400;
          font-size: 24px;
          line-height: 38px;
          color: #142254;
          @include mobile{
            text-align: center;
          }
        }
      }
    }
    .carousal-div {
      position: relative;
      margin-top: 43.5px;
    }
  }
  .celebration-div {
    margin-top: 32px;
    background: #142254;
    padding: 72px 150px 72px 150px;
    @include mobile {
      // padding: 10px;
      padding: 39px 10px;
      margin-top: 0px;
    }
    .celebration-heading-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .celebration-text-1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #ffffff;
        text-align: center;
        @include tablet {
          font-size: 20px;
          line-height: 24px;
        }
        @include smallmobile {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .celebration-text-3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #ffffff;
        margin-bottom: 15px;
        @include tablet {
          font-size: 20px;
          line-height: 24px;
        }
        @include smallmobile {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .celebration-text-2 {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 64px;
        @include smallmobile {
          font-size: 12px;
        }
      }
    }
    .celebration-wrapper-div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include laptopscreen {
        grid-template-columns: repeat(2, 1fr);
        // grid-column-gap: px;
        grid-row-gap: 25px;
      }
      // @include mobile {
      //   grid-template-columns: repeat(1, 1fr);
      // }
      .celebration-card-data {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        .icon-div {
          margin-bottom: 20px;
          @include mobile{
            margin-bottom: unset;
          }
        }
        .celebration-number {
          font-weight: 900;
          font-size: 42px;
          line-height: 51px;
          color: #ffffff;
          @include mobile {
            font-size: 24px;
          }
        }
        .celebration-submitted {
          font-weight: 600;
          font-size: 22px;
          line-height: 22px;
          color: #ffffff;
          text-align: center;
        }
        .celebration-credit {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #e2e2e2;
          text-align: center;
        }
      }
    }
    .celebration-inquiry-btn-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 45px;
      .celebration-btn-inquiry {
        width: auto;
        padding: 15px 20px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        background-color: #56c5d0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
        text-transform: capitalize;
        font-size: 16px;
        color: white;
        font-weight: 600;
        line-height: 19.36px;
        letter-spacing: 0.5px;
        //flex
        display: flex;
        column-gap: 0.6rem;
        text-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.our-blog .react-multi-carousel-dot.react-multi-carousel-dot--active button {
  border: none !important;
}