@import "../../assets/style/mixin.scss";
#main-div-banks {
  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 1rem 0;
    color: #142254;
    @include mobile {
      font-size: 22px;
      line-height: 27px;
    }
  }

  .banks-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
  }
}
