@import "../../assets/style/mixin.scss";

#main-div-cities {
  padding: 0px 150px 0px 150px;
  @include desktoplargescreen {
    padding: 0px 10px;
  }
  @include mobile {
    padding: 20px;
  }
  .title {
    /* Cities We Service */

    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 1rem 0;
    /* Primary color */
    color: #142254;
    @include mobile {
      padding: 20px;
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
    }
  }
  .cities-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin: 50px 0rem;
    gap: 20px; /* Adjust the gap between columns/rows as needed */
    @include desktopsmall{
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    // @include tablet {
    //   grid-template-columns: repeat(3, minmax(200px, 1fr));
    // }
    @include mobile {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @include smallmobile {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    .city {
      font-weight: 500;
      font-size: 20px;
      line-height: 18px;
      padding: 1.3rem 0;
      text-align: center;
      background: #f6f6f6;
      color: #142254;
      border-radius: 8px;
      text-transform: capitalize;
      &:active,
      &:hover {
        color: #ffffff;
        background: #142254;
      }
    }
  }
}
