@import "../../assets/style/mixin.scss";
.blog {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
  // outline: 1px solid;
  width: 100%;
  // max-width: min-content;
  // max-width:   360px;
  // justify-content: space-between;
  max-height:fit-content;
  @include mobile {
    max-width: unset;
  }
  // @include midmobile{
  //   min-height: 380px;
  // }
  .blog-img {
    border-radius: 8px;
    object-fit: cover;
    height:unset;
    width: unset;
    // max-width: 100%;
    aspect-ratio: 16/9 !important;
  }
  .blog-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    overflow: hidden;
    display: -webkit-box;
    //  change this to n(1,2,3,4) line
    -webkit-line-clamp: 1; /* number of lines to show */
    // line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    color: #142254;
  }

  .blog-date {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #142254;
  }
  .blog-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6d6d6d;
    height: 66px;
  }
  .link {
    width: max-content;

    // align-self: flex-end;
    // position: fixed  ;
    // bottom: 20px;
  }
  .read-more {
    padding: 12px 18px;
  }
}
